<header class='header'>
  <h1 class='title'>Moen</h1>
  <nav class='nav'>
    <input class='nav-toggle' id='nav-toggle' type='checkbox' />
    <label class='navicon' for='nav-toggle'><span class='navicon-bar'></span></label>
    <ul class='nav-list'>
      <li class='item'>
        <a href='#'>shop</a>
      </li>
      <li class='item'>
        <a href='#'>lookbook</a>
      </li>
      <li class='item'>
        <a href='#'>blog</a>
      </li>
      <li class='item'>
        <a href='#'>guideline</a>
      </li>
      <li class='item'>
        <a href='#'>context</a>
      </li>
    </ul>
  </nav>
</header>