  <ul class="shop-list">
    {{#.}}
    <li class='shop-item'>
      <div class='image-box'>
        <img src='{{image}}' alt='' />
      </div>
      <section class='cost-detail'>
        <h3>{{title}}</h3>
        <span>{{price}}</span>
      </section>
    </li>
    {{/.}}
  </ul>
