{{! <main class='main'>
  <ul class='shop-list'>
    <li class='shop-item'>
      <div class='image-box'>
        <img
          src='https://uploads-ssl.webflow.com/5b63ff5acd934c35bc633385/5b9023cd4f660d540f79a24b_Algot.png'
          alt=''
        />
      </div>
      <section class='cost-detail'>
        <h3>Algot</h3>
        <span>$0.99</span>
      </section>
    </li>
    <li class='shop-item'>
      <div class='image-box'>
        <img
          src='https://uploads-ssl.webflow.com/5b63ff5acd934c35bc633385/5b9022747d535f99eba26e0e_William.png'
          alt=''
        />
      </div>
      <section class='cost-detail'>
        <h3>Evert</h3>
        <span>$0.99</span>
      </section>
    </li>
    <li class='shop-item'>
      <div class='image-box'>
        <img
          src='https://uploads-ssl.webflow.com/5b63ff5acd934c35bc633385/5b9022747d535f6145a26e0d_Vilda.png'
          alt=''
        />
      </div>
      <section class='cost-detail'>
        <h3>Ingvar</h3>
        <span>$0.99</span>
      </section>
    </li>
    <li class='shop-item'>
      <div class='image-box'>
        <img
          src='https://uploads-ssl.webflow.com/5b63ff5acd934c35bc633385/5b902274e41c3c3e9d489b58_Roald.png'
          alt=''
        />
      </div>
      <section class='cost-detail'>
        <h3>Roald</h3>
        <span>$0.99</span>
      </section>
    </li>
    <li class='shop-item'>
      <div class='image-box'>
        <img
          src='https://uploads-ssl.webflow.com/5b63ff5acd934c35bc633385/5b9022727a86749eab0745be_Evert.png'
          alt=''
        />
      </div>
      <section class='cost-detail'>
        <h3>William</h3>
        <span>$0.99</span>
      </section>
    </li>
    <li class='shop-item'>
      <div class='image-box'>
        <img
          src='https://uploads-ssl.webflow.com/5b63ff5acd934c35bc633385/5b9022724f660d733a79a0fa_Harald.png'
          alt=''
        />
      </div>
      <section class='cost-detail'>
        <h3>Harald</h3>
        <span>$0.99</span>
      </section>
    </li>
    <li class='shop-item'>
      <div class='image-box'>
        <img
          src='https://uploads-ssl.webflow.com/5b63ff5acd934c35bc633385/5b9022714f660de38379a0f9_Algot.png'
          alt=''
        />
      </div>
      <section class='cost-detail'>
        <h3>Alva</h3>
        <span>$0.99</span>
      </section>
    </li>
    <li class='shop-item'>
      <div class='image-box'>
        <img
          src='https://uploads-ssl.webflow.com/5b63ff5acd934c35bc633385/5b9022727d535f6103a26e0c_Ingvar.png'
          alt=''
        />
      </div>
      <section class='cost-detail'>
        <h3>Vilda</h3>
        <span>$0.99</span>
      </section>
    </li>
  </ul>
</main> }}


  <ul class="shop-list">
    {{#.}}
    <li class='shop-item'>
      <div class='image-box'>
        <img src='{{image}}' alt='' />
      </div>
      <section class='cost-detail'>
        <h3>{{title}}</h3>
        <span>{{price}}</span>
      </section>
    </li>
    {{/.}}
  </ul>
