@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  margin: 0pc;
  background-color: #ededed;
}

h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  margin: 0;
}

.container {
  width: 100%;
}

/* header style */

.header {
  width: 70%;
  margin: 0 auto;
  font-family: 'Archivo', sans-serif;
  padding: 3rem;
  height: 11rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 3rem;
  color: #333;
}

.nav .nav-list {
  display: flex;
  justify-content: space-around;
}

.nav .nav-list > .item {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 300;
  opacity: 0.7;
}

.nav .nav-list > .item:hover {
  padding-bottom: 2px;
  border-bottom: 1.5px solid #000;
  opacity: 1;
}

.nav-items {
  margin-right: 20px;
}

.nav-items > li {
  display: inline-block;
}

.nav-items > li > a {
  line-height: 60px;
  padding: 0 30px;
  color: rgba(0, 0, 0, 0.4);
}

.nav-items > li > a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.navicon {
  cursor: pointer;
  height: 60px;
  padding: 28px 15px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-user-select: none;
  user-select: none;
}

.navicon-bar {
  background: #333;
  display: block;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 20px;
  height: 3px;
}

.navicon-bar::before,
.navicon-bar::after {
  background-color: #333;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
}

.navicon-bar::before {
  top: -7px;
}

.navicon-bar::after {
  top: 7px;
}

.nav-toggle:checked ~ .navicon > .navicon-bar {
  background-color: transparent;
}

.nav-toggle:checked ~ .navicon > .navicon-bar::before {
  transform: rotate(45deg);
  top: 0;
}

.nav-toggle:checked ~ .navicon > .navicon-bar::after {
  transform: rotate(-45deg);
  top: 0;
}

.nav-toggle {
  display: none;
}

.navicon {
  display: none;
}

/* main style */

.main {
  width: 90%;
  margin: 3rem auto;
}

.carousel-list {
  position: relative;
}

.carousel-list > .carousel-item {
  display: flex;
  justify-content: center;
}

.carousel-list > .carousel-item > img {
  width: 75%;
  min-width: 70%;
}

.carousel-list > .prev-btn,
.carousel-list > .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #555;
  opacity: 0;
  transition: all 0.5s linear;
}

.carousel-list > .prev-btn {
  left: 8rem;
}

.carousel-list > .next-btn {
  right: 8rem;
}

.carousel-list > .prev-btn.active,
.carousel-list > .next-btn.active {
  opacity: 1;
}

.collection {
  margin: 5rem 12.5%;
  display: flex;
  justify-content: space-around;
  gap: 5%;
}

.collection > .collection-img {
  flex-grow: 1;
  order: 1;
  width: 300px;
}

.collection > .collection-img > img {
  width: 100%;
  object-fit: cover;
}

.collection > .collection-info {
  flex-grow: 1;
  order: 0;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 150%;
  color: #333;
  width: 350px;
}

.collection > .collection-info > a {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 2.5rem;
  text-transform: uppercase;
  color: #555;
}

.collection > .collection-info > a:hover {
  color: #000;
  font-weight: 700;
}

.best-product {
  margin: 0 3rem;
  text-align: center;
  text-transform: uppercase;
  /* width: 100%; */
}

.best-product > .best-product-sub-title {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 200;
  margin: 1rem 0;
}

.best-product > .best-product-title {
  font-size: 2rem;
  font-weight: 700;
  word-spacing: 5px;
}

.best-product > .best-product-list {
  display: flex;
  justify-content: space-evenly;
}

.best-product-list > .best-product-item {
  width: 300px;
}

.best-product-item > a {
  display: inline-block;
  width: 100%;
  transition: all 0.2s ease-in;
}

.best-product-item > a:hover {
  opacity: 0.7;
}

.best-product-item > a > img {
  width: 100%;
  height: 220px;
  transform: scale(0.7);
  transition: all 0.2s ease-in;
}

.best-product-item > a > img:hover {
  transform: scale(0.8);
}

.best-product-item > a > div {
  font-size: 1.2rem;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  text-transform: none;
  color: #444;
}

.best-product-item > a > div > div {
  padding-bottom: 3px;
}

.journal {
  width: 90%;
  margin: 6rem auto;
}

.journal > .journal-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  word-spacing: 5px;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.journal > .journal-list {
  display: flex;
  justify-content: space-around;
}

.journal-list > .journal-item {
  width: 190px;
}

.journal-list > .journal-item > a {
  display: block;
  width: 100%;
}

.journal-list > .journal-item > a > img {
  width: 100%;
  transition: all 0.2s ease-in;
}

.journal-list > .journal-item > a > img:hover {
  transform: scale(0.9);
}

.journal-item > .journal-item-info > .journal-item-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 0.2vw;
}

.journal-item > .journal-item-info > .journal-item-detail {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Padauk', sans-serif;
  text-align: center;
  color: #727272;
}

/* footer style */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #222;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
}

.footer > .footer-content {
  word-spacing: 3px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 100;
  font-size: 1.3rem;
}

.footer > .footer-title {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2vw;
}

.footer > .social-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 2rem;
}

.social-list > .social-item > a > i {
  color: #fff;
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
    height: 6rem;
    padding: 1rem;
  }

  .title {
    line-height: 4rem;
    padding: 0;
  }

  .nav .nav-list {
    /* transform: translateX(110%); */
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .navicon {
    display: block;
  }

  .nav-toggle:checked ~ .nav-list {
    /* transform: translateX(0); */
    opacity: 1;
    position: fixed;
    z-index: 2;
    top: 6rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ededed;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 35px;
  }

  .nav > .nav-list > .item:hover {
    border-bottom: none;
    padding: 0;
  }

  .nav-list > .item > a {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 500;
    padding: 10px 0;
  }

  .main {
    width: 100%;
    margin: 0 auto;
  }

  .carousel-list > .carousel-item > img {
    width: 100%;
  }

  .collection {
    margin: 30px 50px;
    flex-direction: column;
  }

  .collection > .collection-info {
    width: 100%;
  }

  .collection-info > p {
    font-size: 1.5rem;
    line-height: 150%;
  }

  .collection > .collection-info > a {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .collection > .collection-img {
    width: 100%;
  }

  .journal {
    width: 90%;
    margin: 30px 50px;
  }

  .journal-list > .journal-item {
    width: 220px;
  }
}

@media screen and (max-width: 765px) {
  .collection > .collection-info {
    font-size: 1rem;
  }

  .journal {
    width: 90%;
    margin: 30px 30px;
  }

  .journal > .journal-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .journal-list > .journal-item {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
}
